<!DOCTYPE html>
<html>
<head>
	<title>Labo 4 vintageshop</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./css/vintage.css">
	 <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
	
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="http://localhost/cws2_labo_04_zwaenepoel_daan_2017/public/">Vintageshop</a>

     <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/cws2_labo_04_zwaenepoel_daan_2017/public/furniture.php?category=furniture">Furniture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/cws2_labo_04_zwaenepoel_daan_2017/public/furniture.php?category=lightning">Lightning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/cws2_labo_04_zwaenepoel_daan_2017/public/furniture.php?category=Objects">Objects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/cws2_labo_04_zwaenepoel_daan_2017/public/about.php">About</a>
          </li>
        </ul>
      </div>
    </nav>

</header>
<div class="jumbotron">
      <div class="container jumbotron-container">
        <h1 class="display-5">Vintage is timeless</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Learn more &raquo;</a></p>
      </div>
</div>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3>Ligthing</h3>
          <div style="background-image:url('./img/Alessandro-Pianon-for-Vistosi_5715.jpg');" class="photo-header"></div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="" role="button">See all &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3>Furniture</h3>
          <div style="background-image:url('./img/Alfred-Hendrickx-for-Belform_6751.jpg');"  class="photo-header"></div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="http://localhost/cws2_labo_04_zwaenepoel_daan_2017/public/furniture.php?category=furniture" role="button">See all &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3>Object</h3>
          <div style="background-image:url('./img/Boch_6341.jpg');"  class="photo-header"></div>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">See all &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
      <hr>

      <footer class="container">
      	<div class="row">
      		 <p class=" col align-self-center" >&copy; Company 2017</p>
      	</div>
       
      </footer>


<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/tether/dist/js/tether.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>